<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>로또생성기</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    
    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
    
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    
    <!-- =======================================================
      Theme Name: Bell
      Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

  <body>
    <!-- Page Content
    ================================================== -->
    <!-- Hero -->
	<div id="vue_app">
    <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="/lotto" title="Home"><img alt="logo" src="img/logo.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
			로또 번호 생성기
          </h1>

          <p class="tagline">
			데이터 기반 분석을 통해 로또 번호를 추천해 드립니다.
          </p>
          <a class="btn btn-full" href="#lotto">지금  시작하기</a>
        </div>
      </div>
      
    </section>
    <!-- /Hero -->
    
  <!-- Header -->
  <header id="header">
    <div class="container">
    
      <div id="logo" class="pull-left">
        <a href="index.html"><img src="img/logo-nav.png" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">History</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#lotto">Get Number</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  
    <!-- About -->

    <section class="about" id="about">
      <div class="container text-center">
        <h2>
			현재까지 당첨 현황
        </h2>

        <p>
			현재까지 저희 생성기를 이용해 당첨을 한 인원 수 입니다.
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" id="1234" data-toggle="counter-up"><%=all['5th']%></span> 5등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=all['4th']%></span> 4등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=all['3rd']%></span> 3등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=all['2nd']%></span> 2등
            </div>
          </div>
          
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=all['1st']%></span> 1등
            </div>
          </div>
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=all['no']%></span> 이용 횟수
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /About -->
    <!-- Parallax -->
	<section class="about" id="last_week">
      <div class="container text-center">
        <h2>
			지난주 당첨 현황
        </h2>

        <p>
			지난주 당첨 현황 및 이용 횟수 입니다.
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" id="1234" data-toggle="counter-up"><%=last_week['5th']%></span> 5등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=last_week['4th']%></span> 4등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=last_week['3rd']%></span> 3등
            </div>
          </div>

          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=last_week['2nd']%></span> 2등
            </div>
          </div>
          
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=last_week['1st']%></span> 1등
            </div>
          </div>
          
          <div class="stats-col text-center col-md-2 col-sm-6 col-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up"><%=last_week['total_num']%></span> 이용 횟수
            </div>
          </div>
        </div>
      </div>
    </section>
	<!-- 이거 사이즈 바꿀때 block style바꾸면됨 -->
    <section id="features" class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
      <h2 align="left" class="offset-md-3">
		Artificial intelligence<br /> Research <br />Institute
      </h2>
      <p>
		ARI는 인공지능 기반의 생활 서비스를 <br />제공하는 연구소입니다.
		본 로또번호 생성기는 빅데이터 기반으로 다양한 분석 기술을
		활용하여 만들었습니다.
		<br />
		<br />
		아래 배너는 저희를 후원하는 기업입니다.
		<br />
		광고 /후원 문의 anicc@naver.com
      </p>
      <a href="http://www.direct-bank.co.kr"><img alt="ad1" class="rounded col-md-8 image-thumbnail" src="img/main_banner.jpg"></a>
    </section>
    <!-- /Parallax -->
    <!-- Features -->
	
    <section class="features" id="lotto">
      <div class="container" >
        <h2 class="text-center">
			<strong>Get Number</strong>
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show1}}</span>
                </div>
              </div>

              
                <h3>
					1st number
                </h3>
              
            </div>
          </div>

          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show2}}</span>
                </div>
              </div>
              
                <h3>
					2nd number
                </h3>
              
            </div>
          </div>

          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show3}}</span>
                </div>
              </div>

              
                <h3>
					3rd number
                </h3>
              
            </div>
          </div>

          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show4}}</span>
                </div>
              </div>

              
                <h3>
					4th number
                </h3>
              
            </div>
          </div>

          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show5}}</span>
                </div>
              </div>

              
                <h3>
					5th number
                </h3>
              
            </div>
          </div>

          <div class="feature-col col-lg-4 col-sm-4 col-md-4 col-6">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="stats-no conunt" >{{show6}}</span>
                </div>
              </div>
              
              
                <h3>
					6th number
                </h3>
                
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Features -->
    <!-- Call to Action -->

    <section class="cta">
      <div class="container">
          <div class="text-center">
            <div class="btn btn-ghost" style="cursor:pointer" v-on:click="lottery" >Get Start</div>
            <div class="invisible">{{num1}}{{num2}}{{num3}}{{num4}}{{num5}}{{num6}}</div>
          </div>
      </div>
    </section>
    <!-- /Call to Action -->
        <!-- Team -->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          Created by
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6 offset-sm-3">
            <div class="card card-block">
              <a ><img alt="" class="team-img" src="img/people1.jpg">
              <div class="card-title-wrap">
                <span class="card-title">박 수 한</span> <span class="card-text">Data Analyst</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>
                
                <br />
				<br />
                <p>
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div></a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a ><img alt="" class="team-img" src="img/people2.jpg">
              <div class="card-title-wrap">
                <span class="card-title">장 형 준</span> <span class="card-text">Developer</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

				<br />
				<br />
                <p>
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Team -->
    <!-- @component: footer -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Contact Us</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-3 offset-lg-2">
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Seoul, Mapogu<br>Yanghwaro 6gil 88,<br /> Wallga Bdg 5F</p>
              </div>
              
              <div>
                <i class="fa fa-envelope"></i>
                <p>anicc@naver.com</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-5">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
                  <div class="form-group">
                    <input type="text" v-model.trim="name" class="form-control" placeholder="Your Name" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" v-model.trim="email" class="form-control"  placeholder="Your Email"  />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text"  v-model.trim="subject" class="form-control"  placeholder="Subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" v-model.trim="content"  rows="5" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit" v-on:click="sent_email" v-bind:disabled="loading"><i v-show="loading" class="fa fa-spinner fa-spin"></i> Send Message</button></div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
      </div>
    <footer class="site-footer">
      <div class="bottom">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-xs-12 text-lg-left text-center">
              <p class="copyright-text">
                © A R I
              </p>
              <div class="credits">
                  <!-- 
                  All the links in the footer should remain intact. 
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
                -->
                <a href="https://wwww.idbd.co.kr/">ARI</a> is Registerd Trademark of ARI Labs,.
              </div>
            </div>
            
            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#">Home</a>
                </li>

                <li class="list-inline-item">
                  <a href="#about">History</a>
                </li>

                <li class="list-inline-item">
                  <a href="#features">Features</a>
                </li>

                <li class="list-inline-item">
                  <a href="#lotto">Get Number</a>
                </li>

                <li class="list-inline-item">
                  <a href="#team">Team</a>
                </li>

                <li class="list-inline-item">
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>

	
    <!--Required JavaScript Libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/tether/js/tether.min.js"></script>
    <script src="lib/stellar/stellar.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/easing/easing.js"></script>
    <script src="lib/stickyjs/sticky.js"></script>
    <script src="lib/parallax/parallax.js"></script>
    <script src="lib/lockfixed/lockfixed.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    
    <!-- Template Specisifc Custom Javascript File -->
    <script src="js/custom.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/javascript.js"></script>
  </body>
</html>